<!DOCTYPE html>
<html>
<head>
	<style>
		 body {
			 background-color: #333;
			 font-family: sans-serif;
			 color: #EEE;
		 }
	</style>
</head>
<body>
<h1>@ViewData["Title"]</h1>
<h3>Bundt's watch says that it is @ViewData["ServerTime"]</h3>
<h3>Assembly: @ViewData["AssemblyVersion"]</h3>
<h3>Guilds:</h3>
</body>
</html>